
# Results of the testscripts
/results/

# Files created during make
.stamp*
firmware
openwrt/

# Other
.DS_Store
._.DS_Store
saved/
.vscode

# Local-only remote APK install helper
push_to_webserver
/install_package_remotely
/install_package_remotely.conf
